/* common shared styles */

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  /* width: 150px;
  height: 64px; */
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  font-weight: 700;
  font-size: 20px;
  color: white;
  padding: 15px 35px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  font-size: 18px;
  text-align: center;
  color: #757575;
}

/* nav related styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  color: #474747;
}

.nav-title {
  color: #181818;
  font-weight: 800;
  font-size: 45px;
}

/* header related styles */

.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 500px;
}

.profile-picture {
  width: 500px;
}

.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner_title {
  font-weight: 700;
  font-size: 85px;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* main sections styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
}

/* about section styles */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin-top: 130px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}

/* skills related styles */

#what-i-do-description {
  padding: 30px 150px;
}

.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  background: #fff;
}
.section-description {
  color: #757575;
}

/* Resume section styles */

.resume-column-title {
  font-weight: 700;
  font-size: 30px;
  color: #474747;
}

.resume-container {
  display: flex;
  gap: 50px;
}
.resume-item-title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}

.resume-item-institute {
  margin-bottom: 20px;
  margin-top: 0px;
}

.resume-item-institute,
resume-item-description {
  color: #757575;
}

.resume-container hr {
  margin: 30px;
}
.download-cv {
  text-align: center;
  margin-top: 50px;
}

/* footer-style */
footer {
  display: flex;
  gap: 100px;
  background-color: #fff8f3;
  margin-top: 100px;
  padding: 130px 200px;
}

.footer-column {
  width: 50%;
}

.social-links a{
  margin-right: 25px
}

.contact input[type="text"],
.contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  border-radius: 5px;
  background: #fff;
  border: 0;
  width: 100%;
}
